#root > div > div > div > ul {
  background: #48B5E9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 5em;
}

#root > div > div > div > div > div {
  min-height: 500px;
}